body {
  min-height: 101vh;
  padding-bottom: 20px;
}

.filter-name {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 0 !important;
}

.filter-name p {
  margin-bottom: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  font-weight: 600;
}

.controls {
  margin-bottom: 30px;
}

.controls__btn {
  outline: none;
  padding: 8px 15px;
}

.table {
  margin-bottom: 10px;
}

.table td,
.table th {
    vertical-align: middle !important;
}

.availability span {
  display: inline-block;
  padding: 3px 7px;
  border-radius: 5px;
  vertical-align: middle;
  font-size: 12px;
  background-color: #6c757d;
  color: #ffffff;
}

.form__wrapper {
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.form-group {
  padding: 0 20px;
}

.form__item {
  padding-top: 10px;
  border-bottom: 1px solid #dddddd;
} 

.form__item:last-child {
  border-bottom: none;
}

.sort-arrow {
  background: none;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 12px;
}

.sort-arrow:focus {
  outline: none;
}

.wrapper {
  z-index: 999;
  padding-top: 30px;
  background-color: #ffffff;
}

h2 {
  margin-top: 0;
}

.can-show-block {
  position: relative;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.anim-hide {
  display: none;
}

.anim-show {
  display: block;
}

#export-table-copied {
  position: absolute;
  right: 0;
  bottom: 5px;
  display: block;
  font-size: 18px;
  opacity: 0;
  transition-duration: 0.5s;
}

.color-orange {
  color: #FFA500;
}

#main-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.pagination {
  display: flex !important;
  justify-content: center;
  align-items: center;
  max-height: 34px;
  margin: 0;
  box-sizing: border-box;
}

.page-link--active {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

li.page-item--hide {
  display: none;
}

.page-item--input {
  max-width: 60px;
}

.page-link {
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-link--input {
  display: block;
  width: 100%;
  text-align: center;
}

.page-link--active {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.page-link--active:hover {
  text-decoration: none;
  color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#page-error {
  display: none;
  margin: 30px auto;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
}

#qty-error {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 800;
  text-align: left;
}

.sort-arrow {
  display: inline-block;
  padding: 0 30px;
  padding-left: 10px;
  padding-right: 30px;
}

#items-list tr {
  width: 100%;
  cursor: move;
}

#items-list tr:hover,
#items-list tr:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.disable-selection td,
.disable-selection th {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  user-select: none;  
}

.dragging-table #items-list {
  display: flex;
  flex-direction: column;
}

.dragging-table tr {
  display: block;
}